{
  "THROTL_RPC": "https://mainnet.helius-rpc.com/?api-key=PUT_YOUR_KEY_HERE",
  "THROTL_RPC2": "https://solana-rpc.publicnode.com",
  "THROTL_RPC3": "https://solana.drpc.org",
  "FLASH_ER_RPC": "https://flash.magicblock.xyz",
  "FLASH_API_BASE": "https://flashapi.trade/v2"
}
